@import "../../../variables.scss";

input#search {
  display: block;
  width: 80%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid $basic-color;
  margin: 20px auto;
}

p.model-text {
  text-align: center;
  color: seagreen;
}
