<app-search-bar (output)="onSearchChange($event)"></app-search-bar>
<h1 class="mat-h1">Issues List</h1>
<ul class="issues">
  <li *ngFor="let issue of issues | filter : search | paginate: { itemsPerPage: 4, currentPage: p }">
    <mat-card>
      <mat-card-header>
        <img mat-card-avatar src={{issue.user.avatar_url}}/>
        <mat-card-title>{{issue.user.login}}</mat-card-title>
        <mat-card-subtitle>
          <a href="{{issue.user.url}}" target="blank" class="mat-h4">{{issue.user.url}}</a>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
          <h3 class="mat-h3">Issue number: <strong>{{issue.number}}</strong></h3>
          <h4 class="mat-h4">Title: <strong>{{issue.title}}</strong></h4>
          <p>State: <strong [ngClass]="{ 'success': issue.state === 'open', 'alert': issue.state === 'closed' }">{{issue.state}}</strong></p>
          <p>Created at: <strong>{{issue.created_at}}</strong></p>
          <p *ngIf="issue.state == closed">{{issue.closed_at}}</p>
      </mat-card-content>
      <mat-card-footer>
        <mat-card-actions>
          <a mat-stroked-button color="primary" href="{{issue.url}}" target="blank">ISSUE LINK</a>
          <a mat-raised-button color="primary" href="{{issue.repository_url}}" target="blank">PROJECT LINK</a>
        </mat-card-actions>
      </mat-card-footer>
    </mat-card>
  </li>
</ul>
<pagination-controls (pageChange)="p = $event"></pagination-controls>

