@import "../../../variables.scss";

h1 {
    text-align: center;
}

ul {
    list-style: none;
    width: 90vw;
    margin: 0 auto;
    padding: 0;
    word-wrap: break-word;
    li {
        margin: 20px 0;
        display: flex;
        flex-direction: column;

        .mat-card-subtitle a {
            word-break: break-word;
        }
        
        .mat-card-actions {
            margin: 0;
            margin-left: 15px;
        }

        .success {
            color: $success-color;
        }

        .alert {
            color: $alert-color;
        }
    }
}