header {
    position: relative;
    background-color: rgb(29, 27, 27);
    padding: 10px;

    div.container{
        display: flex;
        justify-content: center;
        align-items: center;

        .logo {
            display: inline-block;
            margin-right: 10px;
            
            img {
                width: 50px;
            }
        }

        span {
            font-size: 18px;
            color: white;
            margin-bottom: 0;
        }
    }
}