@import "../../../../variables.scss";

header {
    position: relative;
    background-color: $background;
    padding: 10px;

    div.container{
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 50px;
        }

        span {
            font-size: 18px;
            color: white;
            margin-bottom: 0;
        }
    }
}